# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
 
# C extensions
*.so
 
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pypirc
*/pip.conf
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
 
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
 
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
 
# Translations
*.mo
*.pot
 
# Django stuff:
*.log
local_settings.py
db.sqlite3
 
# Flask stuff:
instance/
.webassets-cache
 
# Scrapy stuff:
.scrapy
 
# Sphinx documentation
docs/_build/
docs/source/_build/
docs/_local/
docs/build/
 
# PyBuilder
target/
 
# Jupyter Notebook
.ipynb_checkpoints
 
# pyenv
.python-version
 
# celery beat schedule file
celerybeat-schedule
 
# SageMath parsed files
*.sage.py
 
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
 
# Spyder project settings
.spyderproject
.spyproject
 
# Rope project settings
.ropeproject
 
# mkdocs documentation
/site
 
# mypy
.mypy_cache/
 
# misc
.vscode/
etl/.ipynb_checkpoints
#__init__.py
 
#pycharm
.idea
/ignore/
 
#dev debbugging
/testdata
*.crt
/certificats/
 
#secrets
openrc.sh
pip.conf
 
#data
/data/
/brain_data/*
jupyter/*/*.png
jupyter/*/*.txt
jupyter/test_pipeline/*
*.zip
/jupyter/repeatability/concat_distance_files/
/examples/data/
/pip.conf
.DS_Store
*.joblib
*.csv
*.pyc
*.zip
/dist/

# every .whl files
*.whl

# To ignore my virtual enviroment
env_seg/

# Ignore the model
/modelops/unet_models
../.DS_Store
.DS_Store